.navbar {
    z-index: 10;
}

.nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    z-index: inherit;
}
.ticket-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    z-index: inherit;
}